<!DOCTYPE html>
<html ng-app="TodoList">
<head>
	<meta charset="utf-8">
	<title>Angular </title>
</head>
<body ng-controller="TodoController">
	<ul>
		<li ng-repeat="todo in todos">
			<strong>{{todo.description}}</strong> : {{todo.date | date:'short'}}
		</li>
	</ul>
	<button ng-click="clean()">Vaciar lista de tareas</button>
	<form ng-submit="addTodo()">
		<input type="text" ng-model="newTodo.description" />
		<input type="date" ng-model="newTodo.date" /> 
		<input type="submit" value="Guardar" />
	</form>

	<script src="./node_modules/angular/angular.min.js"></script>
	<script src="./node_modules/angular-local-storage/dist/angular-local-storage.min.js"></script>
	<script src="./controllers/controller.js"></script>
</body>
</html>